* {
  margin: 0;
  padding: 0;
}

/*HEADER*/
header {
  background-color: #611f69;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  /*MIDDLE BOX*/
  /*BOTTOM GIF*/
}
header nav {
  width: 100%;
  padding: 10px;
  height: 60px;
}
header nav .nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
}
header nav .nav-container .logo {
  width: 80px;
  margin-left: 10px;
}
header nav .nav-container .logo img {
  width: 100%;
}
header nav .nav-container .burger {
  width: 25px;
  margin-right: 35px;
}
header nav .nav-container .burger img {
  width: 100%;
}
header .header-midbox {
  background-color: #611f69;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}
header .header-midbox .midbox-texts {
  text-align: center;
  color: #fff;
  padding: 10px 0 60px 0;
}
header .header-midbox .midbox-texts h1 {
  padding-bottom: 20px;
  font-weight: 700;
  line-height: 1.0625;
  letter-spacing: -1.5px;
  font-size: 2.75rem;
}
header .header-midbox .midbox-texts p {
  font-weight: 400;
  padding: 0 10px 0 10px;
}
header .header-midbox .midbox-texts .title-color {
  color: #ecb22e;
}
header .header-midbox .midbox-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 140px;
}
header .header-midbox .btn-register {
  width: 90%;
  text-align: center;
  color: #611f69;
  background-color: #fff;
  border-radius: 4px;
  height: 55px;
  border: none;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.8px;
  padding: 0 10px;
  margin-bottom: 10px;
  cursor: pointer;
}
header .header-midbox .btn-register a {
  text-decoration: none;
}
header .header-midbox .btn-google {
  display: flex;
  width: 90%;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #4285f4;
  border-radius: 4px;
  height: 55px;
  border: none;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 0.8px;
  padding: 0 10px;
  cursor: pointer;
}
header .header-midbox .btn-google .image-google {
  background-color: #fff;
  width: 45px;
  height: 45px;
  border-radius: 4px;
}
header .header-midbox .btn-google .image-google img {
  width: 100%;
}
header .header-midbox .btn-google a {
  margin-left: 18px;
  color: #fff;
  text-decoration: none;
}
header .header-midbox .btn-google img {
  width: 20px;
}
header .botton-gif {
  width: 100vw;
  height: 294px;
}
header .botton-gif img {
  width: 100%;
  height: 100%;
}

.section-one {
  background-color: #f4ede4;
  padding-top: 30px;
  text-align: center;
}
.section-one p {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.125;
  letter-spacing: 0.9px;
  font-size: 0.875rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  padding-left: 40px;
  padding-right: 40px;
}
.section-one .logos-container {
  width: 100%;
}
.section-one .logos-container .logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
}
.section-one .logos-container .logos .logos-item {
  margin: 10px;
}
.section-one .logos-container .logos #airbnb {
  width: 120px;
  height: 39px;
}
.section-one .logos-container .logos #airbnb img {
  width: 120px;
  height: 35px;
}
.section-one .logos-container .logos #nasa {
  width: 75px;
  height: 64px;
}
.section-one .logos-container .logos #nasa img {
  width: 75px;
  height: 65px;
}
.section-one .logos-container .logos #uber {
  width: 90px;
  height: 30px;
}
.section-one .logos-container .logos #uber img {
  width: 75px;
  height: 26px;
}
.section-one .logos-container .logos #target {
  width: 48px;
  height: 52px;
}
.section-one .logos-container .logos #target img {
  width: 48px;
  height: 48px;
}
.section-one .logos-container .logos #nyt {
  width: 230px;
  height: 36px;
}
.section-one .logos-container .logos #nyt img {
  width: 230px;
  height: 32px;
}
.section-one .logos-container .logos #etsy {
  width: 74px;
  height: 40px;
}
.section-one .logos-container .logos #etsy img {
  width: 74px;
  height: 36px;
}

.section-two_box {
  background-color: #f4ede4;
  padding: 48px 0 50px 0;
}
.section-two_box .box_image-right {
  display: flex;
  justify-content: flex-end;
}
.section-two_box .box_text {
  margin-left: 16px;
  margin-top: 32px;
  text-align: start;
}
.section-two_box .box_text h2 {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  line-height: 1.1875;
  letter-spacing: -0.3px;
  font-size: 1.8rem;
  margin-bottom: 1rem;
  letter-spacing: 0.8px;
}
.section-two_box .box_text p {
  font-weight: 400;
  font-family: "Roboto Flex", sans-serif;
  line-height: 1.4444;
  letter-spacing: normal;
  font-size: 1.125rem;
  letter-spacing: 0.3px;
  padding: 0 15px 15px 0;
}
.section-two_box .box_text a {
  font-family: "Roboto Flex", sans-serif;
  line-height: 1.4444;
  letter-spacing: 0.2px;
  font-size: 1.125rem;
  font-weight: 400;
  color: #1264a3;
  text-decoration: none;
  padding-top: 5px;
}/*# sourceMappingURL=style.css.map */